﻿@{
    ViewBag.Title = "Welcome to ENU";
    Layout = "/Views/home/EnuPublic.cshtml";
}
@using (Html.BeginForm("index", "home", FormMethod.Post))
{
    <div id="login">
        <h1>
            <a href="">Welcome to ENU</a></h1>
        <div id="login-warp">
            <div class="form-group">
                <input type="text" name="userName" id="userName" required="" maxlength="30" placeholder="Username"
                    class="form-control" />
            </div>
            <div class="form-group">
                <input type="password" required="" name="userPassword" id="userPassword" maxlength="20"
                    placeholder="Passowrd" class="form-control" />
            </div>
            <button class="btn btn-primary btn-block " type="submit">
                Login</button>
        </div>
        <p>
            <a href="/home/retrievepassword">Lost your password?</a></p>@ViewBag.Message
    </div>
}
