﻿@{
    ViewBag.Title = "ENU: Retrieve password";
    Layout = "~/Views/home/EnuPublic.cshtml";
}
@using (Html.BeginForm("retrievepassword", "home", FormMethod.Post))
{
    <div id="login">
        <h2>
            Retrieve Password</h2>
        <div id="login-warp">
            <div class="form-group">
                <input type="text" name="userName" id="userName" required="" maxlength="30" placeholder="Username"
                    class="form-control" />
            </div>
            <button class="btn btn-primary btn-block " type="submit" disabled="disabled">
                Retrieve</button>
        </div>
        <p>
            <a href="index">Cancel and go to login</a></p>
        @ViewBag.Message
    </div>
}
