﻿@model List<ENU.Entity.Institute>
@using GridMvc.Html
@{
    ViewBag.Title = "ENU:  All added schools";
    Layout = "~/Views/shared/EnuMember.cshtml";
}
<script src="@Url.Content("~/assets/js/jquery.min.js")" type="text/javascript"> </script>
<link href="@Url.Content("~/assets/css/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/assets/js/gridmvc.min.js")" type="text/javascript"> </script>
<div class="content-wrapper">
    <div class="page-header">
        <div class="page-title">
            <h3 class="">
                All Added Schools</h3>
        </div>
        
        <div class="header-search">
            <a class="btn-add-new" href="/school/add">Add New</a>
        </div>
    </div>
    @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.Name).Titled("NAME");
               columns.Add(c => c.Address).Titled("ADDRESS").Filterable(true);
               columns.Add(c => c.AffiliationName).Titled("AFFILIATION").Filterable(true);
               columns.Add(c => c.Phone1).Titled("PHONE").Filterable(true);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => Html.ActionLink("Edit", "Edit", "School", new { id = c.Name }, null)).Titled("");
           }).WithPaging(10).Sortable(true)
</div>
