@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,800';

/* commom styles */


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color:#666;
    background-color: #f5f5f5;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 24px;
    overflow-x: hidden;
    font-weight: 400;
}

ul, li { margin: 0px; padding: 0px;}

a { color: #000; text-decoration: none;}
a:hover { text-decoration: none;}


/* admin logo */

.logo { margin: 0px; padding: 0px; font-size: 30px; margin: 15px 0 35px 0; text-align: center; color: #fff;}


 
.form-group {
    margin-bottom: 15px;
}
#login { margin: auto; padding: 8% 0 0; width: 320px; }
#login h1 { text-align: center; }
#login #login-warp { background: #fff none repeat scroll 0 0; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13); margin-left: 0; margin-top: 20px; padding: 26px 24px 46px; }


#sidebar {
    width: 180px;
    z-index: 2001;
	 height: 100%;
    position: fixed;
	background-color: #23282d;
}

#wrap {
    margin: 0 0 0 180px;
    min-height: 100%;
	height: 100%;
    padding: 50px 0 0;
    position: relative;
}

#warpper {
    min-height: 100%;
    position: relative;
}


.navbar-default {
    z-index: 9999;
}

.content-wrapper { padding-left: 20px; padding-right: 20px;}


 

.page-header:after{content:"";clear:both;display:block;}
.page-title { float: left;}
.page-title h3  { font-size: 30px; font-weight: 400; line-height: 20px; margin: 0; padding: 0 0 29px 0; }
.header-search { float: right;}


.table-list {
width: 100%;
max-width: 100%;
margin-bottom: 20px;

/*table-layout: fixed;*/
background-color: #fff;

border: 1px solid #e5e5e5;
}

.table-list th {  margin: 0px; padding: 10px 12px;     vertical-align: middle; font-weight: bold; text-align: left;  border-bottom: 1px solid #e1e1e1;}
.table-list td { padding: 10px 12px;     vertical-align: middle; }

.table-list > tbody > *:nth-child(2n+1) { background-color: #f9f9f9; }

.check-column {  width: 2.2em;}
.action-column {  width: 10%;}

.row-title { font-weight: 600;}


.table {
width: 100%;
max-width: 100%;
margin-bottom: 20px;

background-color: #fff;

/*border: 1px solid #e5e5e5;*/
}

.table th {  width: 19%;  padding: 10px 12px; text-align: left; vertical-align: top;}

.table td { padding: 10px 12px; }



/*
	Left Menu
*/

.nav > li > a {
    display: block;
    padding: 10px 15px;
    position: relative;
}

.navbar-aside {
  
}
.navbar-aside .nav>li {
    position: relative;
    display: block;
    border:0px;
}

.navbar-aside .nav > li > a {
   color: #fff;
    font-weight: 400;
    /*padding:10px 20px 10px 25px;*/
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
	display: block;
}

.navbar-aside .nav > li > a i {
    margin-right: 5px;
}

.navbar-aside .nav > li > a:hover { background-color: #222222;}
.navbar-aside .nav li.current a {   font-weight: bold;}

.navbar-aside .nav > li.active { background-color: #000;}

/*nav a { color: #fff;}
ul.nav  { margin: 0px; padding: 0px;}
ul.nav > li { font-size: 14px; display: block; }
ul.nav > li > a {  font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px 10px 15px;
	margin: 0px;
    text-transform: capitalize;
	display: block;
	position: relative;
	}
 

ul.nav > li > a i {
    margin-right: 5px;
}


ul.nav > li > a:hover { background-color: #000;}
*/

 
/* Footer */

#footer { 
 border-top: 1px solid #ddd;
margin-left: 180px;
bottom: 0;
color: #555d66;

padding: 10px 20px;
/*position: absolute;
right: 0;
left: 0;*/
margin-top: 50px;
}


select { width: 100%;}

.form-control {
display: block;
width: 100%;
padding: 8px 12px;
border: 1px solid #ddd;
}

.error{
    border: 1px solid #f00;
}
.panel { background-color: #fff;    margin-bottom: 20px; border: 1px solid #ddd; }

.panel-heading { background-color: #f5f5f5; border-bottom: 1px solid #ddd; color: #333;  padding: 10px 15px; }
.panel-body {   /* padding: 15px;*/ }

.small { font-size: 11px; color: #999;}

/*
Alerts
*/

.alert {
    border-left: 3px solid transparent;
    border-radius: 0px;
    margin-bottom: 20px;
    padding: 15px;
}

.alert-success {
	background-color: #dff0d8;
	border-color: #8DC958;
    color: #3c763d;
}

.alert-danger {
	background-color: #f2dede;
	border-color: #CD7E8B;
    color: #a94442;
}






.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}


.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}






#statistics-row-one { margin-left: -10px; margin-right: -10px; margin-bottom: 30px;}
#statistics-row-one .card-box-col { float: left;  padding:0 10px; width: 16.6667%;}
#statistics-row-one .x-card-box-inner { background: #fff; padding: 10px; text-align: center;}

#statistics-row-one .x-card-box-inner p { font-weight: bold; text-transform: uppercase;}
#statistics-row-one .x-card-box-inner h2 { font-size: 25px; margin: 10px 0;}


.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after{
  clear: both;
}

.row { margin-left: -15px; margin-right: -15px; }


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6  {
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-12 {
width: 100%;
}
.col-11 {
width: 91.66666667%;
}
.col-10 {
width: 83.33333333%;
}
.col-9 {
width: 75%;
}
.col-8 {
width: 66.66666667%;
}
.col-7 {
width: 58.33333333%;
}
.col-6 {
width: 50%;
}
.col-5 {
width: 41.66666667%;
}
.col-4 {
width: 33.33333333%;
}
.col-3 {
width: 25%;
}
.col-2 {
width: 16.66666667%;
}
.col-1 {
width: 8.33333333%;
}

/*
https://css-tricks.com/snippets/css/clear-fix/
*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.btn-add-new { border: 1px solid #ccc; background-color: transparent; border-radius: 5px; display: inline-block; padding: 5px 15px 5px 30px; position: relative;}
.btn-add-new:before { font-family:'FontAwesome'; font-size: 14px; content:"\f067"; position: absolute; left: 10px; top: 6px;}
