﻿@model ENU.CMS.ViewModel.MasterDataViewModel
@{
    ViewBag.Title = "ENU: Add new master information";
    Layout = "~/Views/shared/EnuMember.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <div class="page-title">
            <h3 class="">
                Add New Master Information</h3>
        </div>
    </div>
    @using (Html.BeginForm("Add", "Masters", FormMethod.Post, new { id = "formNewMasterData" }))
    {
        <div class="page-header">
            <div class="page-header">
                <div class="page-title">
                    <h3 class="">
                    </h3>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 15%">
                                    Select Type :
                                </th>
                                <td style="width: 85%">
                                    @Html.DropDownListFor(M => M.TypeId, new SelectList(Model.EnuMasterTypes, "TypeId", "TypeName"), new { @class = "js-example-placeholder-single required", @data_friendly_name = "Type", data_error_message = "Please Select Type", id = "ddlMasterTypes" })
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Description :
                                </th>
                                <td>
                                    @Html.TextBoxFor(M => M.TypeValue, new { @class = "form-control required", @data_friendly_name = "Description" })
                                </td>
                            </tr>
                            <tr id="trCountries" style="display: none">
                                <th>
                                    Select Country :
                                </th>
                                <td>
                                    @Html.DropDownListFor(M => M.CountryId, new SelectList(Model.CountryList, "CountryId", "CountryName"), new { @class = "js-example-placeholder-single", data_error_message = "Please Select Country", id = "ddlCountries" })
                                </td>
                            </tr>
                            <tr id="trStates" style="display: none">
                                <th>
                                    Select State :
                                </th>
                                <td>
                                    @Html.DropDownListFor(M => M.StateId, new SelectList(Model.StateList, "StateId", "StateName"), new { @class = "js-example-placeholder-single", data_error_message = "Please Select State", id = "ddlStates" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="page-header">
            @if (!string.IsNullOrEmpty(TempData["Message"]+""))
            {
                <div class="alert alert-success">
                    <strong>@TempData["Message"]</strong> 
                </div>
            }
            <div id="errorMsg">
            </div>
            <div class="btn-row">
                <input type="button" value="Submit Form" class="btn btn-primary" onclick="enuManager.validateForm('#formNewMasterData');" />
                <input type="submit" value="Cancel" id="Cancel" class="btn btn-danger" />
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlMasterTypes").change(function () {
            $("#trStates").hide();
            $("#trCountries").hide();
            var selectedType = $("#ddlMasterTypes").val();
            if (selectedType == 4) {
                $("#trStates").show();
            }
            else if (selectedType == 5) {
                $("#trCountries").show();
            }
        });
    }); 
</script>
