﻿@model ENU.CMS.ViewModel.MasterDataViewModel
@using GridMvc.Html;
<div class="content-wrapper">
    @if (Model.CityList != null && Model.CityList.Count > 0)
    {
        <div class="page-header">
            <div class="page-title">
                <h4 class="">
                    City List</h4>
            </div>
        </div>
        
        @Html.Grid(Model.CityList).Columns(columns =>
           {
               columns.Add(c => c.CityId).Titled("Id");
               columns.Add(c => c.CityName).Titled("City").Filterable(true);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => Html.ActionLink("Edit", "Edit", "Masters", new { id = c.CityId, typeId = 3 }, null)).Titled("Action"); 
           }).WithPaging(10).Sortable(true);
    }
    else
    {
        <div class="page-header">
            <div class="page-title">
                <h4 class="">
                    No Records Founds</h4>
            </div>
        </div>
    }
</div>
