﻿@model ENU.CMS.ViewModel.MasterDataViewModel
@using GridMvc.Html;
<div class="content-wrapper">
    @if (Model.CountryList != null && Model.CountryList.Count > 0)
    {
        <div class="page-header">
            <div class="page-title">
                <h4 class="">
                    List of Countries</h4>
            </div>
        </div>
        
        @Html.Grid(Model.CountryList).Columns(columns =>
           {
               columns.Add(c => c.CountryId).Titled("SR. NO");
               columns.Add(c => c.CountryName).Titled("COUNTRY NAME").Filterable(true);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => Html.ActionLink("Edit", "Edit", "Masters", new { id = c.CountryId, typeId = 1 }, null)).Titled("ACTION");
           }).WithPaging(10).Sortable(true);

    }
    else
    {
        <div class="page-header">
            <div class="page-title">
                <h4 class="">
                    No Record founds</h4>
            </div>
        </div>
    }
</div>
