﻿@model ENU.CMS.ViewModel.MasterDataViewModel
@using GridMvc.Html;
<div class="content-wrapper">
    @if (Model.CourseCategoryList != null && Model.CourseCategoryList.Count > 0)
    {
        <div class="page-header">
            <div class="page-title">
                <h4 class="">
                    Course Category List</h4>
            </div>
        </div>
        
        @Html.Grid(Model.CourseCategoryList).Columns(columns =>
           {
               columns.Add(c => c.CourseCategoryId).Titled("Id");
               columns.Add(c => c.Name).Titled("Category").Filterable(true);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => Html.ActionLink("Edit", "Edit", "Masters", new { id = c.CourseCategoryId, typeId = 2 }, null)).Titled("Action");
           }).WithPaging(10).Sortable(true);
    }
    else
    {
        <div class="page-header">
            <div class="page-title">
                <h4 class="">
                    No Records Founds</h4>
            </div>
        </div>
    }
</div>
