﻿@model ENU.CMS.ViewModel.MasterDataViewModel
@using GridMvc.Html;
<div class="content-wrapper">
    @if (Model.FacilityList != null && Model.FacilityList.Count > 0)
    {
        <div class="page-header">
            <div class="page-title">
                <h4 class="">
                    Facility List</h4>
            </div>
        </div>
        
        @Html.Grid(Model.FacilityList).Columns(columns =>
           {
               columns.Add(c => c.FacilityTypeId).Titled("Id");
               columns.Add(c => c.Name).Titled("Facility").Filterable(true);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => Html.ActionLink("Edit", "Edit", "Masters", new { id = c.FacilityTypeId, typeId = 3 }, null)).Titled("Action");
           }).WithPaging(10).Sortable(true);
    }
    else
    {
        <div class="page-header">
            <div class="page-title">
                <h4 class="">
                    No Records Founds</h4>
            </div>
        </div>
    }
</div>
