﻿@model ENU.CMS.ViewModel.MasterDataViewModel
@{
    ViewBag.Title = "ENU: All master info";
    Layout = "~/Views/shared/EnuMember.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <div class="page-title">
            <h3 class="">
                List of Master Information</h3>
        </div>
    </div>
    <div class="page-header">
        <div class="panel">
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th style="width: 20%">
                               Select Preposition:
                            </th>
                            <td style="width: 80%">
                                @Html.DropDownListFor(M => M.TypeId, new SelectList(Model.EnuMasterTypes, "TypeId", "TypeName"), new { @class = "js-example-placeholder-single required", @data_friendly_name = "Type", data_error_message = "Please Select Type" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="loadMasterTypes">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#TypeId").change(function () {
            $.ajax({
                type: 'GET',
                contentType: 'application/html; charset=utf-8',
                url: '@Url.Content("~/masters/GetList")',
                dataType: 'html',
                data: {
                    typeId: $("#TypeId").val()
                },
                success: function (result) {
                    $("#loadMasterTypes").html(result);
                }
            });
        });
    });   
</script>
