﻿@model ENU.CMS.ViewModel.MasterDataViewModel
@using GridMvc.Html;
<div class="content-wrapper">
    @if (Model.StateList != null && Model.StateList.Count > 0)
    {
        <div class="page-header">
            <div class="page-title">
                <h4 class="">
                    List of States</h4>
            </div>
        </div>
        
        @Html.Grid(Model.StateList).Columns(columns =>
           {
               columns.Add(c => c.StateId).Titled("SR. NO.");
               columns.Add(c => c.StateName).Titled("STATE NAME").Filterable(true);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => Html.ActionLink("Edit", "Edit", "Masters", new { id = c.StateId, typeId = 3 }, null)).Titled("ACTION");
           }).WithPaging(10).Sortable(true);
    }
    else
    {
        <div class="page-header">
            <div class="page-title">
                <h4 class="">
                    No Records Founds</h4>
            </div>
        </div>
    }
</div>
