﻿@model ENU.CMS.ViewModel.MasterDataViewModel
@using GridMvc.Html;
<div class="content-wrapper">
    @if (Model.SubjectList != null && Model.SubjectList.Count > 0)
    {
        <div class="page-header">
            <div class="page-title">
                <h4 class="">
                    Subject List</h4>
            </div>
        </div>
        
        @Html.Grid(Model.SubjectList).Columns(columns =>
           {
               columns.Add(c => c.SubjectId).Titled("Subject Id");
               columns.Add(c => c.Name).Titled("Subject Name").Filterable(true);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => Html.ActionLink("Edit", "Edit", "MasterData", new { id = c.SubjectId, typeId = 1 }, null)).Titled("Action");
           }).WithPaging(10).Sortable(true);

    }
    else
    {
        <div class="page-header">
            <div class="page-title">
                <h4 class="">
                    No Record founds</h4>
            </div>
        </div>
    }
</div>
