﻿@model ENU.CMS.ViewModel.InstitutionViewModel
@{
    ViewBag.Title = "ENU: Add new college";
    Layout = "~/Views/shared/EnuMember.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <div class="page-title">
            <h3 class="">
                Add New College</h3>
        </div>
        <div class="header-search">
        </div>
    </div>
    @using (Html.BeginForm("add", "college", FormMethod.Post, new { id = "formNewSchool" }))
    {
       
        <div class="page-header">
            <div id="errorMsg">
            </div>
            @{
        string blokDisplay = "none";
        if (ViewBag.Message == "OK")
        {
            blokDisplay = "block";
                <div class="alert alert-success"  style="display: @blokDisplay">
                    <strong>Success!</strong> Information saved successfully.
                </div>
        }
        else if (ViewBag.Message == "ERR")
        {
            blokDisplay = "block";
                <div class="alert alert-danger"  style="display: @blokDisplay">
                    <strong>Sorry!</strong> Failed to save your information. Please check the entered
                    data and try again!"
                </div>
        }
            }
            <div id="load_institution">
                <div class="panel">
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>
                                        College Name:
                                    </th>
                                    <td>
                                        <input name="institute_name" maxlength="150" type="text" class="form-control required"
                                            data-friendly-name="College name" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Description:
                                    </th>
                                    <td>
                                        <textarea name="institute_desc" id="institute_desc" maxlength="1000" cols="30" rows="10"
                                            class="form-control" spellcheck="spellcheck"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Primary Phone:
                                    </th>
                                    <td>
                                        <input name="institute_phone1" id="institute_phone1" min="0" max="9999999999" class="form-control required phone"
                                            data-friendly-name="Primary phone" type="number" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Secondary Phone:
                                    </th>
                                    <td>
                                        <input name="institute_phone2" id="institute_phone2" min="0" max="9999999999" class="form-control"
                                            type="number" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Eshtablisment Year:
                                    </th>
                                    <td>
                                        <input name="institute_esht" id="institute_esht" min="0" max="9999" class="form-control required"
                                            data-friendly-name="Establishment year" type="number" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Email:
                                    </th>
                                    <td>
                                        <input name="institute_email" id="institute_email" maxlength="80" class="form-control required email"
                                            data-friendly-name="Email id" type="email" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Web URL:
                                    </th>
                                    <td>
                                        <input name="institute_webUrl" id="institute_webUrl" maxlength="80" class="form-control"
                                            type="url" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        University:
                                    </th>
                                    <td>
                                        <select name="institute_affliation" id="institute_affliation" class="js-example-placeholder-single required"
                                            data-friendly-name="University">
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Address:
                                    </th>
                                    <td>
                                        <input name="institute_adr" id="institute_adr" maxlength="150" type="text" class="form-control required"
                                            data-friendly-name="Address" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Country:
                                    </th>
                                    <td>
                                        <select name="institute_country" id="lst_country" class="js-example-placeholder-single required"
                                            data-friendly-name="Country">
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        State:
                                    </th>
                                    <td>
                                        <select name="institute_state" id="lst_state" class="js-example-placeholder-single required"
                                            data-friendly-name="State">
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        City:
                                    </th>
                                    <td>
                                        <select name="institute_city" id="lst_city" class="js-example-placeholder-single required"
                                            data-friendly-name="City">
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="btn-row" id="dic_post" style="display: block">
                <input type="button" value="Save College" class="btn btn-primary" onclick="enuManager.validateForm('#formNewSchool');" />
            </div>
        </div>
    }
</div>
<script type="text/javascript" src="../assets/js/Loader.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadBoardList('u')
        LoadCountry();
        LoadAllBoards();
    });
</script>
