﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,follow" />
    <title>Education Near You</title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

    <script type="text/javascript"  src="~/content/enu/js/EnuCommon.js"></script>
</head>
<body>
    <div id="warpper">
        <div id="sidebar">
            <h1 class="logo">
                ENU</h1>
            <nav class="navbar-aside">
      <ul class="nav metismenu" id="menu">
        <li><a href="dashboard.html"><i class="fa fa-tachometer" aria-hidden="true"></i> <span class="nav-label">Dashboard</span></a></li>
        <li class="active"><a href="#" aria-expanded="true"><i class="fa fa-list-ul" aria-hidden="true"></i> <span>ManageTypes</span> <span class="fa arrow fa-fw"></span></a>
          <ul  class="nav" aria-expanded="true">
            <li>@Html.ActionLink("Institute Type", "Index", "Institute")</li>
            <li class="current">  </li>
          </ul>
        </li>
        <li class="active"><a href="#" aria-expanded="true"><i class="fa fa-list-ul" aria-hidden="true"></i> <span>Schools</span> <span class="fa arrow fa-fw"></span></a>
          <ul  class="nav" aria-expanded="true">
            <li>@Html.ActionLink("All Schools", "Index", "School")</li>
            <li class="current"> @Html.ActionLink("Add New School", "NewSchool", "School") </li>
          </ul>
        </li>
        <li><a href="#" aria-expanded="true"><i class="fa fa-users" aria-hidden="true"></i> <span>Users</span> <span class="fa arrow fa-fw"></span></a>
          <ul class="nav" aria-expanded="true">
            <li><a href="#">All Users</a></li>
            <li><a href="#">Add New</a></li>
          </ul>
        </li>
        <li> <a href="#" aria-expanded="false"><i class="fa fa-cogs" aria-hidden="true"></i> Settings <span class="fa arrow fa-fw"></span></a>
          <ul class="nav" aria-expanded="false">
            <li><a href="#">General</a></li>
          </ul>
        </li>
        <li><a href="index.html"><i class="fa fa-sign-out" aria-hidden="true"></i> <span class="nav-label">Logout</span></a></li>
      </ul>
    </nav>
        </div>
        <!-- END #sidebar -->
        <div id="wrap">
            @RenderBody()
        </div>
        <!-- END #wrap -->
        <footer id="footer"> © 2016. ENU by  <a href="http://www.arcmatics.com/" target="_blank" title="Arcmatics"><img src="~/assets/images/arcmatics-logo.png" style="vertical-align:middle"  alt=""/> </a> </footer>
    </div>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/metisMenu.min.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/common.js"></script>
</body>
</html>
