﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,follow" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../assets/css/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <script src="../assets/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/select2.min.css">
    <script src="../assets/js/metisMenu.min.js"></script>
    <script src="../assets/js/select2.min.js"></script>
    <script src="../assets/js/common.js"></script>
    <script src="../assets/js/jquery.dataTables.min.js"></script>
    <script src="../content/enu/js/EnuCommon.js"></script>
</head>
<body>
    <div id="warpper">
        <div id="sidebar">
            <h1 class="logo">
                ENU edit by sandeep </h1>
            <nav class="navbar-aside">
                <ul class="nav metismenu" id="menu">
                    <li class="current"><a href="dashboard"><i class="fa fa-tachometer" aria-hidden="true">
                    </i><span class="nav-label">Dashboard</span></a></li>
                    <li><a href="#" aria-expanded="true"><i class="fa fa-list-ul" aria-hidden="true"></i>
                        <span>Institutions</span> <span class="fa arrow fa-fw"></span></a>
                        <ul class="nav" aria-expanded="true">
                            <li><a href="/school/all">School</a></li>
                            <li><a href="/college/all">College</a></li>
                            <li><a href="/sc/all">Study Centre</a></li>
                        </ul>
                    </li>
                    <li><a href="#" aria-expanded="true"><i class="fa fa-list-ul" aria-hidden="true"></i>
                        <span>Study Materials</span> <span class="fa arrow fa-fw"></span></a>
                        <ul class="nav" aria-expanded="true">
                            <li><a href="/tutorial/all">Available</a></li>
                            <li><a href="/tutorial/add">Add New</a></li>
                        </ul>
                    </li>
                    <li><a href="#" aria-expanded="true"><i class="fa fa-list-ul" aria-hidden="true"></i>
                        <span>Boar/University</span> <span class="fa arrow fa-fw"></span></a>
                        <ul class="nav" aria-expanded="true">
                            <li><a href="/board/all">View All</a></li>
                            <li><a href="/board/add">Add New</a></li>
                        </ul>
                    </li>
                    <li><a href="#" aria-expanded="true"><i class="fa fa-users" aria-hidden="true"></i><span>
                        Master Info</span> <span class="fa arrow fa-fw"></span></a>
                        <ul class="nav" aria-expanded="true">
                            <li><a href="/masters/list">All</a></li>
                            <li><a href="/masters/add">Add New</a></li>
                        </ul>
                    </li>
                    <li><a href="#" aria-expanded="true"><i class="fa fa-users" aria-hidden="true"></i><span>
                        Users</span> <span class="fa arrow fa-fw"></span></a>
                        <ul class="nav" aria-expanded="true">
                            <li><a href="allusers">All Users</a></li>
                            <li><a href="adduser">Add New</a></li>
                        </ul>
                    </li>
                    <li><a href="#" aria-expanded="false"><i class="fa fa-cogs" aria-hidden="true"></i>Settings
                        <span class="fa arrow fa-fw"></span></a>
                        <ul class="nav" aria-expanded="false">
                            <li><a href="#">Change Password</a></li>
                        </ul>
                    </li>
                    <li><a href="/mem/logout"><i class="fa fa-sign-out" aria-hidden="true"></i><span class="nav-label">
                        Logout</span></a></li>
                </ul>
            </nav>
        </div>
        <div id="wrap">
            @RenderBody()
        </div>
        <footer id="footer">
   	© 2016. ENU by  <a href="http://www.arcmatics.com/" target="_blank" title="Arcmatics">
           <img src="../assets/images/arcmatics-logo.png" style="vertical-align: middle" alt="" />
       </a></footer>
    </div>
    @*<script src="../assets/js/jquery.min.js"></script>*@ @*<script src="../assets/js/metisMenu.min.js"></script>
    <script src="../assets/js/metisMenu.min.js"></script>
    <script src="../assets/js/select2.min.js"></script>
    <script src="../assets/js/common.js"></script>*@
</body>
</html>
