﻿@{
    ViewBag.Title = "ENU: Add board/university";
    Layout = "~/Views/shared/EnuMember.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <div class="page-title">
            <h3 class="">
                Add Board/University</h3>
        </div>
        @*  <div class="header-search">
            <input type="search" value="" />
            <input type="submit" value="Search Schools" class="btn" />
        </div>*@
    </div>
    @using (Html.BeginForm("add", "board", FormMethod.Post, new { id = "formNewSchool" }))
    {
        <div class="page-header">
            <div class="page-header">
                <div class="page-title">
                    <h3 class="">
                    </h3>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 20%">
                                    Certification Under:
                                </th>
                                <td style="width: 40%">
                                    <input type="radio" name="board" value="b" checked="checked" />Board
                                    <br />
                                    (Includes all schools affiliated upto HSC/10+2 level.)
                                </td>
                                <td style="width: 40%">
                                    <input type="radio" name="board" value="u" style="font-weight: bold" />University<br />
                                    (Includes all colleges affiliated for graduation and post graduation.)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Name of Board/University:
                                </th>
                                <td colspan="2">
                                    <input name="board_name" maxlength="150" type="text" class="form-control required"
                                        data-friendly-name="Board/university" />
                                    <input type="hidden" value="" name="board_val" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="page-header">
            <div class="page-header">
                <div class="page-title">
                    <h3 class="">
                    </h3>
                </div>
            </div>
            <div id="errorMsg">
            </div>
            @{
        string blokDisplay = "none";
        if (ViewBag.Message == "OK")
        {
            blokDisplay = "block";
                <div class="alert alert-success"  style="display: @blokDisplay">
                    <strong>Success!</strong> Information saved successfully.
                </div>
        }
        else if (ViewBag.Message == "ERR")
        {
            blokDisplay = "block";
                <div class="alert alert-danger"  style="display: @blokDisplay">
                    <strong>Sorry!</strong> Failed to save your information. Please check the entered
                    data and try again!"
                </div>
        }
            }
            <div id="load_institution">
            </div>
            <div class="btn-row" id="dic_post" style="display: block">
                <input type="button" name="Submit" value="Submit" class="btn btn-primary" onclick="enuManager.validateForm('#formNewSchool');" />
               @* <input type="submit" name="cancel" value="Cancel" id="Cancel" class="btn btn-danger" />*@
            </div>
        </div>
    }
</div>
