﻿﻿@model ENU.CMS.ViewModel.InstitutionViewModel
<div id="new_college">
    <div class="panel">
        <div class="panel-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            College Name:
                        </th>
                        <td>
                            <input name="institute_name" maxlength="150" type="text" class="form-control required"
                                data-friendly-name="College Name" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Description:
                        </th>
                        <td>
                            <textarea name="institute_desc" id="institute_desc" maxlength="1000" cols="30" rows="10"
                                class="form-control" spellcheck="spellcheck"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Primary Phone:
                        </th>
                        <td>
                            <input name="institute_phone1" id="institute_phone1" min="0" max="9999999999" class="form-control required phone"
                                data-friendly-name="Primary Phone" type="number" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Secondary Phone:
                        </th>
                        <td>
                            <input name="institute_phone2" id="institute_phone2" min="0" max="9999999999" class="form-control"
                                type="number" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Eshtablisment Year:
                        </th>
                        <td>
                            <input name="institute_esht" id="institute_esht" min="0" max="9999" class="form-control required"
                                data-friendly-name="Eshtablisment Year" type="number" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Email:
                        </th>
                        <td>
                            <input name="institute_email" id="institute_email" maxlength="80" class="form-control required email"
                                data-friendly-name="Email" type="email" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Web URL:
                        </th>
                        <td>
                            <input name="institute_webUrl" id="institute_webUrl" maxlength="80" class="form-control"
                                type="url" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Affiliated University:
                        </th>
                        <td>
                            <select name="institute_affliation" class="js-example-placeholder-single required"
                                data-friendly-name="Affiliated University">
                                <option value="0" selected="selected">Select Board</option>
                                <option value="1">CBSE</option>
                                <option value="2">State board</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Address:
                        </th>
                        <td>
                            <input name="institute_adr" id="institute_adr" maxlength="150" type="text" class="form-control required"
                                data-friendly-name="Address" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Country:
                        </th>
                        <td>
                            @Html.DropDownList("institute_country", new SelectList(Model.Countries, "CountryId", "CountryName"), new { @class = "js-example-placeholder-single" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            State:
                        </th>
                        <td>
                            @Html.DropDownList("institute_state", new SelectList(Model.States, "StateId", "StateName"), new { @class = "js-example-placeholder-single required" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
