﻿﻿@model ENU.CMS.ViewModel.InstitutionViewModel
<div id="new_tution_centre">
    <div class="panel">
        <div class="panel-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            Study Centre Name:
                        </th>
                        <td colspan="3">
                            <input name="institute_name" maxlength="150" type="text" class="form-control required"
                                data-friendly-name="Study Centre Name" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Description:
                        </th>
                        <td colspan="3">
                            <textarea name="institute_desc" id="institute_desc" maxlength="1000" cols="30" rows="5"
                                class="form-control" spellcheck="spellcheck"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Targeted Courses:
                        </th>
                        <td colspan="3">
                            <input name="institute_affliation" id="institute_affliation" maxlength="150" class="form-control required"
                                data-friendly-name="Targeted Courses" spellcheck="spellcheck" />
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            Classes:
                        </th>
                        <td width="30%">
                            <input name="institute_classes" id="institute_classes" min="0" max="9999999999" class="form-control required"
                                data-friendly-name="Classes" type="text" />
                        </td>
                        <th width="20%">
                            Running From:
                        </th>
                        <td width="30%">
                            <input name="institute_esht" id="institute_esht" min="0" max="9999" class="form-control required"
                                data-friendly-name="Running From" type="number" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            CONTACT DETAILS:
                        </th>
                        <td colspan="4">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Address:
                        </th>
                        <td colspan="3">
                            <input name="institute_adr" id="institute_adr" maxlength="150" type="text" class="form-control required"
                                data-friendly-name="Address" />
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            Primary Phone:
                        </th>
                        <td width="30%">
                            <input name="institute_phone1" id="institute_phone1" min="0" max="9999999999" class="form-control required phone"
                                data-friendly-name="Primary Phone" type="number" />
                        </td>
                        <th width="20%">
                            Secondary Phone:
                        </th>
                        <td width="30%">
                            <input name="institute_phone2" id="institute_phone2" min="0" max="9999999999" class="form-control"
                                type="number" />
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            Email:
                        </th>
                        <td width="30%">
                            <input name="institute_email" id="institute_email" maxlength="80" class="form-control required email"
                                data-friendly-name="Email" type="email" />
                        </td>
                        <th width="20%">
                            Web URL:
                        </th>
                        <td width="30%">
                            <input name="institute_webUrl" id="institute_webUrl" maxlength="80" class="form-control"
                                type="url" />
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            Country:
                        </th>
                        <td width="30%">
                             @Html.DropDownList("institute_country", new SelectList(Model.Countries, "CountryId", "CountryName"), new { @class = "js-example-placeholder-single" })
                        </td>
                        <th width="20%">
                            State:
                        </th>
                        <td width="30%">
                             @Html.DropDownList("institute_state", new SelectList(Model.States, "StateId", "StateName"), new { @class = "js-example-placeholder-single required" })
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            City:
                        </th>
                        <td width="30%">
                            <input name="institute_city" id="institute_city" maxlength="50" type="text" class="form-control" />
                        </td>
                        <th width="20%">
                            Postal Code:
                        </th>
                        <td width="30%">
                            <input name="institute_pincode" id="institute_pincode" maxlength="6" type="text"
                                class="form-control required" data-friendly-name="Postal Code" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
