﻿@model List<ENU.Entity.Tution_Centre>
@using GridMvc.Html
@{
    ViewBag.Title = "ENU:  All added study centre";
    Layout = "~/Views/shared/EnuMember.cshtml";
}
<script src="@Url.Content("~/assets/js/jquery.min.js")" type="text/javascript"> </script>
<link href="@Url.Content("~/assets/css/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/assets/js/gridmvc.min.js")" type="text/javascript"> </script>
<div class="content-wrapper">
    <div class="page-header">
        <div class="page-title">
            <h3 class="">
                All Added Study Centre</h3>
        </div>
        <div class="header-search">
            <a class="btn-add-new" href="/sc/add">Add New</a>
        </div>
    </div>
    @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.Name).Titled("CENTRE NAME");
               columns.Add(c => c.Address).Titled("ADDRESS").Filterable(true);
               columns.Add(c => c.Phone1).Titled("CONTACTS").Filterable(true);
               columns.Add(c => c.Email).Titled("EMAIL").Filterable(true);
               columns.Add(c => c.EstablishedOn).Titled("RUNNING FROM").Filterable(true);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => Html.ActionLink("Edit", "Edit", "Sc", new { id = c.Name }, null)).Titled("");
           }).WithPaging(10).Sortable(true)
</div>
