﻿@{
    ViewBag.Title = "ENU: Add study material";
    Layout = "~/Views/shared/EnuMember.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <div class="page-title">
            <h3 class="">
                Add Study Material</h3>
        </div>
        @*  <div class="header-search">
            <input type="search" value="" />
            <input type="submit" value="Search Schools" class="btn" />
        </div>*@
    </div>
    @using (Html.BeginForm("tutorial", "mem", FormMethod.Post, new { id = "frmTutorial", enctype = "multipart/form-data" }))
    {
        <div class="page-header">
            @* <div class="page-header">
                <div class="page-title">
                    <h3 class="">
                    </h3>
                </div>
            </div>*@
            <div id="errorMsg">
            </div>
            @{
        string blokDisplay = "none";
        if (ViewBag.Message == "OK")
        {
            blokDisplay = "block";
                <div class="alert alert-success"  style="display: @blokDisplay">
                    <strong>Success!</strong> Information saved successfully.
                </div>
        }
        else if (ViewBag.Message == "ERR")
        {
            blokDisplay = "block";
                <div class="alert alert-danger"  style="display: @blokDisplay">
                    <strong>Sorry!</strong> Failed to save your information. Please check the entered
                    data and try again!"
                </div>
        }
            }
            <div class="panel">
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 20%">
                                    Whom this tutorial targets?:
                                </th>
                                <td style="width: 40%">
                                    <input type="radio" name="tutorial_board" value="b" checked="checked" />School
                                    <br />
                                    (Includes all schools affiliated upto HSC/10+2)
                                </td>
                                <td style="width: 40%">
                                    <input type="radio" name="tutorial_board" value="u" style="font-weight: bold" />College<br />
                                    (Includes all colleges affiliated for graduation and above)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Select:
                                </th>
                                <td>
                                    <select name="tutorial_type" id="tutorial_type" class="js-example-placeholder-single">
                                        <option selected="selected">Select Type</option>
                                        <option selected="selected">Question Set</option>
                                        <option selected="selected">Solved Sample Papers</option>
                                        <option selected="selected">Descriptive Topics</option>
                                        <option selected="selected">Syllabus</option>
                                    </select>
                                </td>
                                <td style="width: 40%">
                                    <select name="course_category" id="course_category" class="js-example-placeholder-single">
                                        <option selected="selected">Course Category</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Select:
                                </th>
                                <td>
                                    <select name="institute_course" id="institute_course" class="js-example-placeholder-single">
                                        <option selected="selected">Course</option>
                                    </select>
                                </td>
                                <td style="width: 40%">
                                    <select name="institute_subject" id="institute_subject" class="js-example-placeholder-single">
                                        <option selected="selected">Subject</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Select:
                                </th>
                                <td>
                                    <select name="institute_affliation" id="institute_affliation" class="js-example-placeholder-single">
                                        <option selected="selected">Board</option>
                                    </select>
                                </td>
                                <td style="width: 40%">
                                    <select name="institute_type" id="tutorial_class" class="js-example-placeholder-single">
                                        <option selected="selected">Class</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Name of Tutorial:
                                </th>
                                <td colspan="2">
                                    <input name="tutorial_name" maxlength="150" type="text" class="form-control required"
                                        data-friendly-name="Add name of tutorial" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Short Description:
                                </th>
                                <td colspan="2">
                                    <textarea name="tutorial_desc" maxlength="500" cols="10" rows="5" class="form-control required"
                                        data-friendly-name="Add summary description about tutorial"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Release Year:
                                </th>
                                <td>
                                    <input name="tutorial_year" maxlength="4" type="text" class="form-control required"
                                        data-friendly-name="Material released year" />(Provide year for which it is
                                    more valuable. E.g. 2017)
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    File to Upload:
                                </th>
                                <td>
                                    <input name="tutorial_file" type="file" class="form-control required" data-friendly-name="Choose a file to upload" />
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="page-header">
            <div class="page-header">
                <div class="page-title">
                    <h3 class="">
                    </h3>
                </div>
            </div>
            
          @*  <div id="load_institution">
            </div>*@
            <div class="btn-row" id="dic_post" style="display: block">
                <input type="button" name="Submit" value="Submit" class="btn btn-primary" onclick="enuManager.validateForm('#frmTutorial');" />
                <input type="submit" name="cancel" value="Cancel" id="Cancel" class="btn btn-danger" />
            </div>
        </div>
    }
</div>
<script type="text/javascript" src="../assets/js/Loader.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadBoardList($("input[name='tutorial_board']:checked").val());
    });

    $("[name=tutorial_board]").change(function () {
        LoadBoardList($("input[name='tutorial_board']:checked").val());
    });
</script>
