﻿@{
    ViewBag.Title = "ENU: Available study materials";
    Layout = "~/Views/shared/EnuMember.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <div class="page-title">
            <h3 class="">
                Available Study Materials</h3>
        </div>
        <div class="page-header">
            <div class="page-header">
                <div class="page-title">
                    <h3 class="">
                    </h3>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 5%">
                                    Select:
                                </th>
                                <td style="width: 20%">
                                    <select name="institute_type" id="institute_type" class="js-example-placeholder-single">
                                        <option selected="selected">Board</option>
                                        <option>University</option>
                                    </select>
                                </td>
                                <td style="width: 75%">
                                    @*<div class="header-search">*@
                                        <a class="btn-add-new" href="/board/add">Add New</a>
                                   @* </div>*@
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <table id="institutions" class="table display nowrap dataTable dtr-inline">
            <thead>
                <tr>
                    <th id="lbl_name">
                        Board Name
                    </th>
                    <th>
                        Active
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody id="lst_boards">
                <tr>
                    <td class="check-column" style="width: 70%">
                        Loading data, please wait..
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- END .content-wrapper -->
<script type="text/javascript" src="../assets/js/Loader.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadAllBoards();
    });

    $("[name=institute_type]").change(function () {
        if ($("[name = institute_type]").val() == 'Board')
            $("#lbl_name").html('Board Name');
        else
            $("#lbl_name").html('University Name');

        LoadAllBoards();
    });
</script>
