﻿@model ENU.CMS.ViewModel.InstitutionViewModel
@{
    ViewBag.Title = "ENU: Add new institution";
    Layout = "~/Views/mem/EnuMember.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <div class="page-title">
            <h3 class="">
                Add New Institution</h3>
        </div>
        <div class="header-search">
            <input type="search" value="" />
            <input type="submit" value="Search Schools" class="btn" />
        </div>
    </div>
    @using (Html.BeginForm("addinstitution", "mem", FormMethod.Post, new { id = "formNewSchool" }))
    {
        <div class="page-header">
            <div class="page-header">
                <div class="page-title">
                    <h3 class="">
                    </h3>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 20%">
                                    Type of institution:
                                </th>
<<<<<<< HEAD
                                <td style="width: 80%">
                                    <select name="institute_type" id="institute_type" class="js-example-placeholder-single required"
                                        data-friendly-name="Board">
                                    </select>
                                    @*@Html.DropDownList("institute_type", new SelectList(Model.EnuCategories, "CategoryName", "CategoryName"), new { @class = "js-example-placeholder-single" })*@
=======
                                <td style="width: 80%">                                                             
                                    @Html.DropDownList("institute_type", new SelectList(Model.EnuCategories, "CategoryId", "CategoryName"), new { @class = "js-example-placeholder-single" })
>>>>>>> 99e95b7126d657abceabdab2031b233c1a5bc83a
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="page-header">
            <div class="page-header">
                <div class="page-title">
                    <h3 class="">
                    </h3>
                </div>
            </div>
            <div id="errorMsg">
            </div>
            @{
        string blokDisplay = "none";
        if (ViewBag.Message == "OK")
        {
            blokDisplay = "block";
                <div class="alert alert-success"  style="display: @blokDisplay">
                    <strong>Success!</strong> Information saved successfully.
                </div>
        }
        else if (ViewBag.Message == "ERR")
        {
            blokDisplay = "block";
                <div class="alert alert-danger"  style="display: @blokDisplay">
                    <strong>Sorry!</strong> Failed to save your information. Please check the entered
                    data and try again!"
                </div>
        }
            }
            <div id="load_institution">
            </div>
            <div class="btn-row" id="dic_post" style="display: none">
                <input type="button" value="Submit Form" class="btn btn-primary" onclick="enuManager.validateForm('#formNewSchool');" />
                <input type="submit" value="Cancel" id="Cancel" class="btn btn-danger" />
            </div>
        </div>
    }
</div>
<script type="text/javascript" src="../assets/js/Loader.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
<<<<<<< HEAD
        LoadInstitution();
    });
=======
        $("[name=institute_type]").change(function () {
            $.ajax({
                type: 'GET',
                contentType: 'application/html; charset=utf-8',
                url: '@Url.Content("~/mem/GetInstituitonView")',
                dataType: 'html',
                data: {
                    categoryId: $("[name=institute_type]").val()
                },
                success: function (result) {
                    $("#load_institution").html(result);
                    $("#dic_post").show();
                    $(".alert").html('');
                    $(".alert").hide();
                }
            });
        });
    });   
>>>>>>> 99e95b7126d657abceabdab2031b233c1a5bc83a
</script>
