﻿@{
    ViewBag.Title = "ENU: All users";
    Layout = "~/Views/mem/EnuMember.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <div class="page-title">
            <h3 class="">
                All Users</h3>
        </div>
        <div class="header-search">
            <input type="search" value="" />
            <input type="submit" value="Search Schools" class="btn" />
        </div>
    </div>
</div>
