﻿@{
    ViewBag.Title = "ENU: Dashboard";
    Layout = "/Views/shared/EnuMember.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <div class="page-title">
            <h3 class="">
                Dashboard</h3>
        </div>
        <div class="header-search">
            <input type="search" value="" />
            <input type="submit" value="Search Schools" class="btn" />
        </div>
    </div>
    <div id="statistics-row-one" class="clearfix">
        <div class="card-box-col">
            <div class="x-card-box-inner">
                <p>
                    Users</p>
                <h2>
                    34578</h2>
                <p>
                    Last: 30.4k</p>
            </div>
        </div>
        <div class="card-box-col">
            <div class="x-card-box-inner">
                <p>
                    Reviews</p>
                <h2>
                    34578</h2>
                <p>
                    Last: 30.4k</p>
            </div>
        </div>
        <div class="card-box-col">
            <div class="x-card-box-inner">
                <p>
                    Schools</p>
                <h2>
                    34578</h2>
                <p>
                    Last: 30.4k</p>
            </div>
        </div>
        <div class="card-box-col">
            <div class="x-card-box-inner">
                <p>
                    Colleges</p>
                <h2>
                    34578</h2>
                <p>
                    Last: 30.4k</p>
            </div>
        </div>
        <div class="card-box-col">
            <div class="x-card-box-inner">
                <p>
                    Institute</p>
                <h2>
                    34578</h2>
                <p>
                    Last: 30.4k</p>
            </div>
        </div>
        <div class="card-box-col">
            <div class="x-card-box-inner">
                <p>
                    Home Tuition</p>
                <h2>
                    34578</h2>
                <p>
                    Last: 30.4k</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Heading Here
                    </h4>
                </div>
                <div class="panel-body">
                    Content here
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Heading Here
                    </h4>
                </div>
                <div class="panel-body">
                    Content here
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Heading Here
                    </h4>
                </div>
                <div class="panel-body">
                    Content here
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Heading Here
                    </h4>
                </div>
                <div class="panel-body">
                    Content here
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Heading Here
                    </h4>
                </div>
                <div class="panel-body">
                    Content here
                </div>
            </div>
        </div>
    </div>
</div>
