﻿@model List<ENU.Entity.Institute>
@using GridMvc.Html
@{
    ViewBag.Title = "ENU:  All added schools";
    Layout = "~/Views/mem/EnuMember.cshtml";
}
<script src="@Url.Content("~/assets/js/jquery.min.js")" type="text/javascript"> </script>
<link href="@Url.Content("~/assets/css/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/assets/js/gridmvc.min.js")" type="text/javascript"> </script>
@Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.Name).Titled("Name");
               columns.Add(c => c.Description).Titled("Description").Filterable(true);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => Html.ActionLink("Edit", "Edit", "Mem", new { id = c.Name }, null)).Titled("Action");
           }).WithPaging(10).Sortable(true); 
           
@*<div class="content-wrapper">
    <div class="page-header">
        <div class="page-title">
            <h3 class="">
                All Added Institutions</h3>
        </div>
        <div class="header-search">
            <input type="search" value="">
            <input type="submit" value="Search Schools" class="btn">
        </div>
    </div>
    @using (Html.BeginForm("addinstitution", "mem", FormMethod.Post))
    {
        <div class="page-header">
            <div class="page-header">
                <div class="page-title">
                    <h3 class="">
                    </h3>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 20%">
                                    Type of institution:
                                </th>
                                <td style="width: 80%">
                                    <select name="institute_type" id="institute_type" class="js-example-placeholder-single">
                                        <option selected="selected">Select One</option>
                                        <option>School</option>
                                        <option>College</option>
                                        <option>Tution Centre</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="page-header">
            <div class="page-header">
                <div class="page-title">
                    <h3 class="">
                    </h3>
                </div>
            </div>
            <div id="errorMsg">
            </div>
            @{
        string blokDisplay = "none";
        if (ViewBag.Message == "OK")
        {
            blokDisplay = "block";
                <div class="alert alert-success" style="display: @blokDisplay">
                    <strong>Success!</strong> School information saved successfully.
                </div>
        }
        else if (ViewBag.Message == "ERR")
        {
            blokDisplay = "block";
                <div class="alert alert-danger" style="display: @blokDisplay">
                    <strong>Danger!</strong> Failed to save school information. Please check the entered
                    data and try again!"
                </div>
        }
            }
            <div class="btn-row" id="dic_post" style="display: none">
                <input type="submit" value="Submit Form" class="btn btn-primary" />
                <input type="submit" value="Cancel" class="btn btn-danger" />
            </div>
            <table id="institutions" class="table display nowrap dataTable dtr-inline">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Created
                        </th>
                        <th>
                            IsActive
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        
    }
</div>*@ @*http://paramquery.com/tutorial*@